<template>
  <div class="info-container">
    <b-card>
      <b-card-title class="info-container__title"
        ><font-awesome-icon
          class="mr-2"
          @click="$router.back()"
          icon="arrow-left"
        />
        Contact information
        <div class="flex-grow-1"></div>
        <b-button @click="handleSave" variant="success"
          >Save</b-button
        ></b-card-title
      >
      <div class="info-container__card">
        <label for="name-input" class="font-weight-bolder">Name:</label>
        <b-form-input id="name-input" v-model="fullName"></b-form-input>
      </div>
      <div class="info-container__card">
        <label class="font-weight-bolder"
          >Phone number{{ contact.phoneNumbers.length > 1 ? 's' : '' }}:</label
        >

        <div
          v-for="(phone, phoneIndex) in contact.phoneNumbers"
          :key="phoneIndex"
          class="list-block"
        >
          <b-form-input
            :value="phone.value"
            @input="
              updateValue(
                contact.phoneNumbers[phoneIndex],
                $refs.phoneNumber[phoneIndex].localValue
              )
            "
            ref="phoneNumber"
            type="text"
            class="mb-2 text-monospace"
            placeholder="Enter phone number"
          >
          </b-form-input>
          <font-awesome-icon
            v-if="contact.phoneNumbers.length > 1"
            @click="removeItem(phoneIndex, contact.phoneNumbers)"
            icon="times"
            class="icon-danger"
            size="lg"
          />
        </div>
        <b-button @click="addField(contact.phoneNumbers)" variant="success"
          >Add phone</b-button
        >
      </div>
      <div v-if="contact.emails.length" class="info-container__card">
        <label class="font-weight-bolder"
          >Email{{ contact.emails.length > 1 ? 's' : '' }}:</label
        >
        <div
          v-for="(email, emailIndex) in contact.emails"
          :key="emailIndex"
          class="list-block"
        >
          <b-form-input
            :value="email.value"
            @input="
              updateValue(
                contact.emails[emailIndex],
                $refs.email[emailIndex].localValue
              )
            "
            ref="email"
            type="text"
            class="mb-2"
            placeholder="Enter email"
          ></b-form-input>
          <font-awesome-icon
            v-if="contact.emails.length > 1"
            @click="removeItem(emailIndex, contact.emails)"
            icon="times"
            class="icon-danger"
            size="lg"
          />
        </div>
        <b-button @click="addField(contact.emails)" variant="success"
          >Add email</b-button
        >
      </div>
      <div v-if="contact.addresses.length" class="info-container__card">
        <label class="font-weight-bolder"
          >Address{{ contact.addresses.length > 1 ? 'es' : '' }}:</label
        >
        <div
          v-for="(address, addressIndex) in contact.addresses"
          :key="addressIndex"
          class="list-block"
        >
          <b-form-input
            :value="address.value"
            @input="
              updateValue(
                contact.addresses[addressIndex],
                $refs.address[addressIndex].localValue
              )
            "
            ref="address"
            type="text"
            class="mb-2"
            placeholder="Enter email"
          ></b-form-input>
          <font-awesome-icon
            v-if="contact.addresses.length > 1"
            :key="addressIndex"
            @click="removeItem(addressIndex, contact.addresses)"
            icon="times"
            class="icon-danger"
            size="lg"
          />
        </div>
        <b-button @click="addField(contact.addresses)" variant="success"
          >Add address</b-button
        >
      </div>
    </b-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      fullName: ''
    }
  },
  computed: {
    ...mapGetters({
      contacts: 'getContact'
    }),
    contact() {
      return this.contacts.find((obj) => obj.id === this.$route.params.contact)
    }
  },
  mounted() {
    this.fullName = this.contact.name
  },
  methods: {
    handleSave() {
      this.$store.commit('updateName', {
        params: this.$route.params.contact,
        value: this.fullName
      })
      this.$router.push('/')
    },
    removeItem(index, removal) {
      this.$store.commit('removeItem', {
        currentArray: removal,
        currentIndex: index
      })
    },
    updateValue(target, localVal) {
      this.$store.commit('updateValue', {
        value: localVal,
        field: target
      })
    },
    addField(target) {
      this.$store.commit('addField', {
        currentArray: target,
        field: { value: '' }
      })
    }
  }
}
</script>

<style lang="scss">
.info-container {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  &__title {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    padding: 8px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border-bottom: 1px solid #bdc3c7;
    padding: 16px;
    .icon-danger {
      color: red;
      height: 100%;
      transition: 222ms ease-in;
      margin-left: 12px;
      padding-top: 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}
.prepend-icon {
  width: 48px;
  border-left: none;
  background-color: #ffffff;
}
.list-block {
  padding: 4px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}
</style>
