<template>
  <div class="contact-container">
    <h3 v-if="!contacts.length" class="mb-3">No contacts in your list</h3>
    <template v-else>
      <div class="d-flex flex-column mb-5">
        <label for="search-bar">Search for contact</label>
        <b-form-input
          id="search-bar"
          v-model="searchInput"
          type="search"
        ></b-form-input>
      </div>
      <b-list-group class="mb-5">
        <b-list-group-item
          v-for="(contact, contactIndex) in filterContacts(contacts)"
          :key="contactIndex"
          class="contact-container__box d-flex flex-row"
        >
          <div
            v-if="isClicked === contactIndex"
            class="d-flex flex-column flex-grow-1"
          >
            <div class="d-flex flex-row flex-grow-1">
              <span class="font-weight-bolder">
                {{ contactIndex + 1, }}. {{ contact.name }}
              </span>
              <div class="flex-grow-1"></div>
              <b-button @click="setActiveCard(null)" size="sm">
                Shrink
                <font-awesome-icon icon="chevron-up" class="icon-black" />
              </b-button>
            </div>
            <label class="font-weight-bolder">Phone numbers:</label>
            <span
              v-for="(phone, phoneId) in contact.phoneNumbers"
              :key="phoneId"
              class="blockquote-footer"
              >Phone {{ phoneId + 1 }}: {{ phone.value }}</span
            >
            <label class="font-weight-bolder">Emails: </label>
            <span
              v-for="(email, emailId) in contact.emails"
              :key="'E' + emailId"
              class="blockquote-footer"
            >
              Email {{ emailId + 1 }}: {{ email.value }}
            </span>
            <label class="font-weight-bolder">Addresses: </label>
            <span
              v-for="(address, addressId) in contact.addresses"
              :key="'A' + addressId"
              class="blockquote-footer"
            >
              Address {{ addressId + 1 }}: {{ address.value }}
            </span>
            <div class="d-flex flex-row mt-4">
              <b-button
                @click="$store.commit('deleteContact', contactIndex)"
                class="text-monospace"
                variant="danger"
                size="sm"
                block
              >
                Delete
                <font-awesome-icon icon="times" class="icon-black" />
              </b-button>
              <div class="flex-grow-1"></div>
              <b-button
                :to="`/detail/${contact.id}`"
                class="text-monospace ml-2"
                variant="secondary"
                size="sm"
                block
              >
                Edit
                <font-awesome-icon icon="pen" class="icon-black" />
              </b-button>
            </div>
          </div>
          <div v-else class="d-flex flex-row flex-grow-1">
            <div>
              <span class="font-weight-bolder">
                {{ contactIndex + 1, }}. {{ contact.name }}
              </span>
              <span class="blockquote-footer">
                Phone: {{ contact.phoneNumbers[0].value }}
              </span>
            </div>

            <div class="flex-grow-1"></div>
            <b-button @click="setActiveCard(contactIndex)" size="sm">
              Expand
              <font-awesome-icon icon="chevron-down" class="icon-black" />
            </b-button>
          </div>
        </b-list-group-item>
      </b-list-group>
    </template>
    <b-button @click="modal = !modal" variant="success">Add contact</b-button>

    <b-modal v-model="modal" hide-footer title="Add new contact">
      <b-form @keydown.enter="onSubmit">
        <b-form-group id="input-group-1" label="Name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="name"
            required
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Phone" label-for="input-3">
          <b-form-input
            id="input-3"
            v-for="(phoneObj, phoneIndex) in phoneNumbers"
            :key="phoneIndex"
            :state="phoneObj.value.length === 12 ? true : false"
            v-model="phoneObj.value"
            type="tel"
            placeholder="Phone number"
            required
            class="mb-2"
          >
          </b-form-input>

          <b-button @click="addPhone" variant="success">Add phone</b-button>
        </b-form-group>
        <b-form-group
          id="input-group-4"
          label="Email address:"
          label-for="input-4"
        >
          <b-form-input
            id="input-4"
            v-for="(emailObj, emailIndex) in emails"
            :key="emailIndex"
            v-model="emailObj.value"
            type="email"
            class="mb-2"
            placeholder="Enter email"
          ></b-form-input>
          <b-button @click="addEmail" variant="success">Add email</b-button>
        </b-form-group>
        <b-form-group id="input-group-5" label="Address:" label-for="input-5">
          <b-form-input
            id="input-5"
            v-for="(addressObj, addressIndex) in addresses"
            :key="addressIndex"
            v-model="addressObj.value"
            type="text"
            class="mb-2"
            placeholder="Enter enter address"
          ></b-form-input>
          <b-button @click="addAddress" variant="success">Add address</b-button>
        </b-form-group>
        <b-button @click="onSubmit" variant="primary">Add Contact</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      emails: [{ value: '' }],
      phoneNumbers: [{ value: '' }],
      addresses: [{ value: '' }],
      name: '',
      modal: false,
      searchInput: '',
      isClicked: null
    }
  },
  computed: {
    ...mapGetters({
      contacts: 'getContact'
    })
  },
  methods: {
    onSubmit() {
      const validName = this.contacts.some((item) => item.name === this.name)
      if (!validName) {
        const form = {
          name: this.name,
          emails: this.emails,
          phoneNumbers: this.phoneNumbers,
          addresses: this.addresses
        }
        this.$store.commit('addContact', form)
        this.modal = !this.modal
        this.onReset()
      } else return window.alert('This name is reserved, consider another')
    },
    onReset() {
      this.name = ''
      this.phoneNumbers = [{ value: '' }]
      this.emails = [{ value: '' }]
      this.addresses = [{ value: '' }]
    },
    filterContacts(contacts) {
      return contacts.filter((contact) => {
        const regex = new RegExp('(' + this.searchInput + ')', 'i')
        return contact.name.match(regex)
      })
    },
    addPhone() {
      this.phoneNumbers.push({ value: '' })
    },
    addEmail() {
      this.emails.push({ value: '' })
    },
    addAddress() {
      this.addresses.push({ value: '' })
    },
    setActiveCard(index) {
      this.isClicked = index
    }
  }
}
</script>
<style lang="scss">
.contact-container {
  width: 100%;
  min-width: inherit;
  display: flex;
  flex-direction: column;
  &__box {
    margin-bottom: 12px;
    box-shadow: 0px 20px 20px -22px rgba(0, 0, 0, 0.75);
  }
}
.icon-pen {
  color: grey;
  &:hover {
    opacity: 0.4;
    transition: 222ms;
    cursor: pointer;
  }
}
</style>
