<template>
  <b-container fluid>
    <Header class="mb-3" />
    <ContactCard />
  </b-container>
</template>

<script>
import Header from '@/components/Header.vue'
import ContactCard from '@/components/ContactCard.vue'

export default {
  components: {
    Header,
    ContactCard
  }
}
</script>

<style>
.contact-list-card {
  min-width: 420px;
}
</style>
